html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 2px solid #000;
}

p.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}

img {
    border: 3px solid black;
    padding: 5px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

blockquote {
    border-left: 1px solid silver;
    float: right;
    width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
    font-family: Georgia, serif;
}

h1 {
    font-family: Georgia, serif;
}

blockquote p {
    margin-top: 1em;
}

main {
    width: 70%;
}

aside {
    margin-left: 50px;
}

ul {
    color: greenyellow;
}
